<!-- -*- mode: xml -*- -->
<launch>
  <node pkg="nodelet" type="nodelet" name="depth_image_proc_register" output="screen"
        args="standalone depth_image_proc/register" >
    <remap from="rgb/camera_info" to="/hsrb/head_rgbd_sensor/rgb/camera_info"/>
    <remap from="depth/camera_info" to="/hsrb/head_rgbd_sensor/depth_registered/camera_info"/>
    <remap from="depth/image_rect" to="/hsrb/head_rgbd_sensor/depth_registered/image_raw"/>
    <remap from="depth_registered/camera_info" to="/hsrb/head_rgbd_sensor/depth_registered2/camera_info"/>
    <remap from="depth_registered/image_rect" to="/hsrb/head_rgbd_sensor/depth_registered2/image_raw"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="depth_image_proc_point_cloud_xyz" output="screen"
        args="standalone depth_image_proc/point_cloud_xyz" >
    <remap from="camera_info" to="/hsrb/head_rgbd_sensor/depth_registered2/camera_info"/>
    <remap from="image_rect" to="/hsrb/head_rgbd_sensor/depth_registered2/image_raw"/>
    <remap from="points" to="/hsrb/head_rgbd_sensor/depth/points"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="depth_image_proc_point_cloud_xyzrgb" output="screen"
        args="standalone depth_image_proc/point_cloud_xyzrgb" >
    <remap from="rgb/camera_info" to="/hsrb/head_rgbd_sensor/rgb/camera_info"/>
    <remap from="rgb/image_rect_color" to="/hsrb/head_rgbd_sensor/rgb/image_raw"/>
    <remap from="depth_registered/image_rect" to="/hsrb/head_rgbd_sensor/depth_registered2/image_raw"/>
    <remap from="depth_registered/points" to="/hsrb/head_rgbd_sensor/depth_registered/points"/>
  </node>
</launch>